{% if include.cat == null %}
	{% assign categoria = 'documento' %}
{% else %}
	{% assign categoria = include.cat %}
{% endif %}

{% if include.liv == null %}
	{% assign rLiv = 1 %}
{% else %}
	{% assign rLiv = include.liv %}
{% endif %}


<span class="label label-danger">{{ post.id }}</span>

<div class="liv{{rLiv}}">
{% for rPost in site.categories[categoria] reversed %}
	{% assign rId = rPost.id | split: '/' | last %}
	
	<div>
	{% if rLiv == 1 %}
	  <h1 id={{rId}} class="page-header">
	  	<a href="{{ site.baseurl }}{{ rPost.url }}">{{ rPost.title }}</a>{% include info.html desc=rPost.descrizione %}
	  	<div class="comment-count"><span class="glyphicon glyphicon-comment"></span> <a href="{{ site.baseurl }}{{ rPost.url }}#disqus_thread"></a></div>
	  </h1>	  
	{% else %}
	  <h{{rLiv}} id={{rId}} class="">
	  	<a href="{{ site.baseurl }}{{ rPost.url }}">{{ rPost.title }}</a>{% include info.html desc=rPost.descrizione %}
	  	<div class="comment-count"><span class="glyphicon glyphicon-comment"></span> <a href="{{ site.baseurl }}{{ rPost.url }}#disqus_thread"></a></div>
	  </h{{rLiv}}>
	{% endif %}
	

	</div>
	
	{{ rPost.content }}

	{% assign rPost = nil %}

	{% assign rLiv = rLiv | plus: 1 %}	
	{% include nested_post.html cat=rId liv=rLiv %}
{% endfor %}
</div>


{% assign categoria = nil %}
{% assign rId = nil %}
{% assign include.liv = nil %}
{% assign rLiv = rLiv | minus: 1 %}
