<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body data-spy="scroll" data-target="#affix-nav">

    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        {% if site.sidebar %}
        <nav  id="affix-nav" class="col-sm-3 col-md-3 sidebar">
          <ul class="nav sidenav affix" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
            {% comment %}{% endcomment %}
            {% include sidebar.html cat="documento" %}
          </ul>
        </nav>
        <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-3 main">
        {% else %}
        <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-2 main">
        {% endif %}
        

          <ol class="breadcrumb">
            <li><a href="{{ site.baseurl }}/">Documento</a></li>
            <li class="active">{{ page.title }}</li>
          </ol>
          <h1 class="page-header">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>